<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="906269c6-7b90-4329-85ff-2b7718ee7f05"
    Version="1.0.0.0"
    Publisher="CN=admin" />

  <Properties>
    <DisplayName>Application1.Win8</DisplayName>
    <PublisherDisplayName>admin</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="Application1.Win8"
      StartPage="app.html">

      <VisualElements
        DisplayName="Application1.Win8"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="Application1.Win8"
        ForegroundText="light"
        BackgroundColor="#464646">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
