<div data-dx-role="view" data-dx-name="About" data-dx-title="About">
    <div data-dx-target-placeholder="content" >
        <div data-bind="dxScrollView: {}">
            <p style="padding: 5px">Application1</p>
            <p style="padding: 5px">Modify this view to describe your application and provide additional information.</p>

            <p style="padding: 5px">To learn more about DXTREME, visit <a href="http://help.devexpress.com/HTML">http://help.devexpress.com/HTML</a>. It is an interactive learning environment where you can find documentation, feature demonstrations, and various tutorials.</p>

            <p style="padding: 5px">If you have any questions about DXTREME, do not hesitate to contact our support team via <a href="http://www.devexpress.com/support/center/">http://www.devexpress.com/support/center/</a>. </p>
        </div>
    </div>
</div>